<%= form_for (@message) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="field mt-3">
    <%= f.submit (yield :button), class: "btn btn-primary" %>
  </div>
<% end %>
